<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry" method="POST" action="/_check">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>
<br />

<!-- This is where the script is going to put the results-->
<h2>You found </h2>
<p id="results"></p>
<p id="message"></p>
	
<!-- MA SCRIPT -->
<script language=javascript>
	
	var text = "";
	var list = "";
	var count = 0;

/*FUNCTIONS*/
/*This is for debug reasons*/
function print(s) {
   window.console.log(s);
}

/*This clears the textbox*/
function clearField() {
	$("#attempt").val("");
}
	
/*CODE*/
$("#attempt").keyup(function(event) {
	
	text = $("#attempt").val();
	var keycode = event.which;
	print(text);

   $.getJSON( "/_check", {txt: text},
		function(data){
   			variable = data.result.data;
	   		print(variable);
	   		if (list.includes(text) && $("#attempt") != "" ){
	   			$("#message").html("You already found that one!");
				clearField();
			}
	   		else if (variable == "special character"){
				$("#message").html("special characters are not allowed!");
			}
	   		else if (variable == "not in list"){
				$("#message").html("Thats not in the list of words!");
			}
	   		else if (variable == "not in jumble"){
				$("#message").html("That can\'t be made from the letters in the jumble!" );
			}
	   		else if (variable == "new word"){
				if (list.includes(text)){
					$("#message").html("You already found that one!");
					clearField();
				}
				else{
					$("#message").html("");
					list = list + " " + text;
					clearField();
					count++;
					$("#results").html(list);
					if (count == 3){
						location.replace("/success");
					}
				}
			
			};
	});
});
</script>
	





 </div> <!-- container -->
</body> </html>
